th {
  color: gray !important;
}

main {
  min-height: 110vh;
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

.pagination {
  display: flex;
  padding: 10px 0;
  float: right;
  align-items: flex-end;
}

.pagination button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  color: lightgray;
}

.pagination button:disabled {
  color: gray;
  cursor: initial;
}
.pagination span {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}

.itemLink {
  position: relative;
  align-items: center;
  min-width: 50px;
  margin-right: 10px;
  text-decoration: underline;
  color: darkgreen;
  min-height: 21px;
}

.itemLink:hover {
  color: #67be23;
}

.tableHeading {
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 15px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
